html,body{
    margin:0;
    padding:0;
    font-family: Arial;
}

h1,h2{
    opacity: 0.84;
}

.form-orange form{
    padding: 60px;
    background-color: rgba(255, 172, 4, 1);
    color: white;
}

.form-orange form input,select,textarea{
    padding: 10px;
    background-color: #e15e03;
    color: white;
    border: 0;
    margin: 5px;
}

.form-orange form input[type=submit]{
    /*background: #64c4b8;*/
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: white;
}

a{
    color: #414141;
    cursor: pointer;
}

nav#nav{
    z-index: 10;
    position: fixed;
    top:0;
    width: 100%;
    height: 95px;
    background-color: #FFF;
    border-bottom: 2px solid #EF6C00;
}

nav#menu{
    position: absolute;
    width: 100%;
    background-color: #126ba7;
    border-bottom: 2px solid #EF6C00;
    display: none;
}

nav#menu ul{
    float: left;
    color: white;
}

nav#menu ul li{
    list-style: none;
}

nav#menu ul ol{
    font-size: 29px;
    margin-bottom: 16px;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
}

nav#menu ul li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    display: inherit;
    transition: 0.5s;
}

nav#menu ul li a:hover{
    background-color: #EF6C00;
}

.button-nav{
    position: absolute;
    top:0;
    right: 0;
}

.button-nav li {display: inline}
.button-nav li a{
    transition: 0.5s;
    color: white;
    text-decoration: none;
    padding: 17px;
    padding-top: 70px;
    line-height: 6;
}

.button-nav li a:hover{background-color: #EF6C00;}

#sidenav{
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: #126ba7;
    color: white;
    text-align: center;
}

#sidenav h2{
    margin-top: 60px;
}

#sidenav a {
    background-color: #313331;
    color: white;
    text-decoration: none;
    padding: 10px ;
    display: inherit;
}

#sidenav > *{
    margin-top: 10px;
}

#content-admin{
    position: absolute;
    right: 0;
    width: 80%;
    margin-top: 50px;
}

#slider > *{
    position: absolute;
    width: 100%;
    height: 500px;
    background-size:cover ;
    top: 50px;
}

#slider > div > div > h2{
    margin-top: 0;
}

#slider > div > div{
    color: white;
    width: 700px;
    margin-top: 23%;
    text-align: justify;
    margin-left: 10px;
    padding: 20px;
    background-color: rgba(229,64,35,0.7);
}

#content-place{
    margin-top: 590px;
}

.form-search{
    width: 34%;
    float: right;
    margin-right: 5px;
}

.form-search >form {
    padding: 10px;
}

.places-container{
    border-top: 5px solid #e15e03;
    background-color: #978b7d/*rgba(0,0,0,0.2)*/;
    margin-top:10px;
}

.place-contents{
    float: left;
    width:200px;
    background-color: white;
    border: 2px solid #FFF;
    padding: 5px;
    margin:10px;
    text-align: center;
    border-radius: 10px;
}

.place-contents > div{
    margin: 0 10px;
}

.container{
    margin:0 60px;
}

.paging {
    float: right;
}

.paging > a{
    text-decoration: none;
    color: white;
    background-color: #EF6C00;
    padding: 5px;
}

.fun-text{
    font-family:Verdana;
    margin-top:40px;
}

.fun-pic{
    max-width: 300px;
    cursor: pointer;
}

.fun-heading{

}

.extra-content{
    background-color: #126ba7;
    padding:10px;
    color: white;
    width: 300px;
    border: 2px solid #EF6C00;
}

.right-content{
    position: absolute;
    right: 0%;
    top:70px;
}

.center{
    top:0;
    right:0;
    left:0;
    bottom: 0;
    margin:0 auto;
}

#kota{
    width: 600px;
}

#kota > *{
    text-decoration: none;
    display: inline;
    float: left;
    padding:10px;
    border-right: 2px solid #424242;
    height: 10px;
}

.news-container{
    width: 40%;
    float: left;
    margin:20px;
}

.video-container{
    width: 40%;
    float: left;
    margin:20px;
}

#footer{
    width: 100%;
    height: 80px;
    background-color: #e15e03;
    color: white;
    text-align: center;
}

#footer h1{
    line-height: 80px;
    margin:0;
}

#footer p{
    position: absolute;
    color: #424242;
    margin:0;
}

#login{
    position: absolute;
    right: 0;
    top: 35px;
    display: none;
}

#login > * > *{
    margin-top: 0;!important;
}

#text-logo{
    color: #424242;
    width: 250px;
    position: absolute;
    top: -10px;
    left: 80px;
}

#text-logo span{
    font-size: 25px;
    font-weight: bold;
    color: #e15e03;
}